.tablero{
    display: grid;
    width: 600px;
    height: 600px;
    grid-template-columns: repeat(3,1fr);
    background-color: green;
}

.casilla{
    border: 1px black solid;
    background-color: aliceblue;
    font-size: 32px;
    font-weight: bolder;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;
}